<div class="container-flex mt-5">
    <div class="d-flex justify-content-center mt-5">
        <video src="assets/videos/animal-explotation-retro-1.mp4" autoplay muted loop playsinline class="rounded" style="width: 300px;"></video>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="card b-50-black p-2" style="width: 500px; height: 130px">
            <span id="writeText1"></span>
        </div>
    </div>

    <div class="w-100 d-flex justify-content-center align-items-center mt-2" style="height: 50px;">
        <span id="writeText2"></span>
    </div>


    <div class="d-flex justify-content-center mt-3">
    <div class="card b-50-black p-2 option row" style="width: 500px; height: 70px">
        <div class="col-1 p-0 m-0">
            <button class="btn btn-primary mt-2" style="width: 35px;">A</button>
        </div>
        <div class="col-11">
        <!-- <span id="writeText3"></span> -->
        <span>Te escandalizas e intentas hacer todo lo posible <br> para evitar que se siga haciendo.</span>    
        </div>
    </div>
    </div>

    <div class="d-flex justify-content-center mt-2">
    <div class="card b-50-black p-2 option row" style="width: 500px; height: 70px">
        <div class="col-1 p-0 m-0">
        <button class="btn btn-warning mt-2" style="width: 35px;">B</button>
        </div>
        <div class="col-11">
            <span>No te unes a ellos, pero piensas que cada cual haga lo que quiera.</span>
        </div>
        <!-- <span id="writeText4"></span> -->
    </div>
</div>

<div class="d-flex justify-content-center mt-2">
    <div class="card b-50-black p-2 option row fade-in" style="width: 500px; height: 70px">
        <div class="col-1 p-0 m-0">
        <button class="btn btn-danger mt-2" style="width: 35px;">C</button>
    </div>
        <!-- <span id="writeText5"></span> -->
        <div class="col-11">
            <span>Te unes a ellos y aprovechas esos privilegios sin darle muchas vueltas.</span>
        </div>
    </div>
    </div> 

</div>


<video class="fullscreen-video" src="assets/videos/b-retro-1min.mp4" autoplay muted loop playsinline></video>